*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --color-one: #eee;
    --color-two: #444;
    --accent-color: #bf60d4;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: var(--color-two);
    color: var(--color-one);

}
body::selection{
    background-color: #bf60d47b;
}
nav{
    background-color: #2a2a2a;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.1rem;
}

.links-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.home-link{
    margin-left: 60px;
}
nav a{
    height: 100%;
    padding: 0 20px;
    color: #ddd;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform ease 0.3s;
}

nav a:hover::after{
    transform: scaleX(1);
}

nav a:hover{
    color: var(--accent-color);
}
.home-link{
    margin-right: auto;
}

#close-sidebar-button,
#open-sidebar-button{
    display: none;
}

.theme-btn-desktop{
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 45px;
    min-height: 25px;
    border-radius: 20px;
    padding: 2px;
    border: none;
    background: linear-gradient(to right, #efa14e, #f9f912);
    margin-left: 25px;
    cursor: pointer;
    transition: 0.4s ease;
    position: relative;
}



.theme-btn-desktop svg{
    fill: #111;
    position: absolute;
    transition: 2s ease;
}

.theme-btn-desktop .sun-svg{
    right: 3px;
}

.theme-btn-desktop .moon-svg {
    /* right: 50px; */
    display: none;
}


.theme-btn-desktop.light-mode {
    background: linear-gradient(to right, #91dbf7, #63aae8)
}

.theme-btn-desktop.light-mode .sun-svg{
    display: none;
}

.theme-btn-desktop.light-mode .moon-svg{
    left: 3px;
    display: block;
}

nav svg{
    fill: var(--color-one)
}

nav input{
    display: none;
}

@media(max-width: 501px){
    nav{
        height: 60px;
    }

    nav a{
        color: #eee;
    }

    nav a:hover{
        background-color: #222;
    }

    nav a:hover::after{
        display: none;
    }

    .links-container{
        background-color: #2c2c2c;
        flex-direction: column;
        align-items: flex-start;
        height: 200%;
        width: 290px;
        position: fixed;
        border-radius: 15px 0 0 15px;
        right: -100%;
        top: 0;
        box-shadow: -1px 0 5px #1d1d1d9a;
        z-index: 10;
        transition: 0.4s ease-out;
        margin-right: 0;
    }
    .home-link{
        margin-left: 0;
    }

    .theme-btn-desktop{
        display: none;
    }

    .links-container a{
        height: 60px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    #close-sidebar-button,
    #open-sidebar-button{
        display: block;
        padding: 20px;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: #00000034;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9;
        top: 0;
        left: 0;
        transition: 0.4s ease;
    }
}

@media (min-width: 1440px) {
    nav{
        max-width: 1439px;
        margin: 0 auto;
    }
}